*{
    margin: 0;
    padding: 0;

     font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal
}
.hero{
  background-image: url("./images/premium_photo-1677850455009-d67da2b774c9.jpg");
  height: 100vh;
  background-position: bottom center;
  background-size: cover;

  border: 10px solid red;
}

.hero h1{
      border: 10px solid red;
    color: azure;
    font-size: 100px;
font-weight: 900;


font-family: cursive;
    text-align: center;
    margin-top: 60px;

}

.article{
    width: 80%;
    border: 4px solid red;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 60px auto;
    padding: 60px auto;

}

.article p{
    font-size: 28px;
    line-height: 2em;
}